/* Base Application Styles */
body {
  color: #000;
  background: #fff;

  font-size: 14px;
  /*font-family: "helvetica neue", Helvetica, Arial, sans-serif;*/
  font-family: sans-serif;
  line-height: 16px;
  letter-spacing: 1px;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  color: #fff;
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

/******************* Main Layout *******************/
.main-layout{
  height:100vh;
  overflow: hidden;
}

.main-content{
  height: calc( 100% - 60px );
  display: flex;
  flex-flow:row nowrap;
}
.view-container{
  flex-grow: 1;
}

.header{

}

.left-menu{

}

::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
  border-radius: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  background-color: #cac9c9;
}

/******************* Header *******************/
.header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F5F4;
  box-shadow: 0px -1px 10px 0px #555;
  z-index: 1;
  position: relative;
}

.nav-menu-group{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: #777E79;
}

.nav-menu-group>.user-group{
  display: flex;
  align-items: center;
}

.nav-menu-group>.user-group>div{
}
.nav-menu-group>.user-group>.head-portrait>span{
  width:30px;
  height:30px;
  border-radius: 15px;
  display: inline-block;
  box-shadow: 0px 2px 5px #777;
}

.search-group .ant-input{
  font-family: "sans-serif";
  font-size:1rem;
  line-height: 16px;
  letter-spacing: 1px;
  font-weight:100;
  padding: 15px;
  padding-left:20px;
  border-radius: 20px;
  border: none;
}

.search-group .ant-input::-webkit-input-placeholder{
  color: #B5BBB7;
}

.search-group .ant-input-preSuffix-wrapper .ant-input-suffix {
  right: 20px;
}

.nav-menu-group .anticon{
  font-size:1.5rem;
}

/******************* Left aside *******************/
.left-menu{
  height: 100%;
  width: 300px;
  background: #FAFAFA;
  position: relative;
  box-shadow: 8px 0px 10px 0px #eee;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  flex-shrink: 0;
}

.left-menu hr{
  margin: 20px 30px 5px;
  border: 1px solid #EBEFEE;
}

.compose-btn-container{
  text-align: center;
  padding:20px 40px;
}
.compose-btn-container>button.ant-btn{
   width:100%;
   height:35px;
   background-color: #1CD67C;
   color: white;
   box-shadow: 0px 5px 12px -5px #1CD67C;
    border-color: transparent;
}
.compose-btn-container>button.ant-btn:hover{
  background: #03c769;
  border-color: #03c769;
  box-shadow: 0px 8px 10px -6px #1CD67C;
}

.compose-btn-container>button.ant-btn-clicked:after{
  border:0 solid #03c769;
}

.inbox-group{

}

.inbox-group .inbox-item{
  padding: 15px 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #B5BBB7;
  font-family: sans-serif;
  font-size:13px;
  letter-spacing: initial;
  transition: all .6s ease;
  cursor: pointer;
}

.inbox-group .inbox-item:hover,.inbox-group .inbox-item.active{
  color: #777E79;
}

.inbox-group .inbox-item .anticon{

}

.inbox-group .inbox-item .inbox-title{
  flex-grow: 1;
  padding-left: 20px;
}
.inbox-group .inbox-item .new-mail-count{

}

.buddles-group{
  font-size: 13px;
}

.buddles-group>h5{
  color: #B5BBB7;
  padding: 10px 30px;
  font-weight: bold;
}

.buddles-group .ant-collapse-borderless{
  background: transparent;

}
.buddles-group .ant-collapse > .ant-collapse-item > .ant-collapse-header{
  color: #B5BBB7;
  padding: 0 30px;
}
.buddles-group  .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-item > .ant-collapse-content,
.buddles-group .ant-collapse > .ant-collapse-item,
.buddles-group .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content{
  border:none;
}

.buddles-group .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow{
  display: none;
}


.buddles-group .panel-header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.buddles-group .panel-header .panel-header-title{
  flex-grow:1;
  padding-left: 20px;
}

.buddles-group .panel-item{
  padding-left:50px;
  padding-right: 17px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  transition: all .5s ease;
}

.buddles-group .panel-item:hover,.buddles-group .panel-item.active{
  color: black;
}

.buddles-group .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 5px;
  padding-bottom: 5px;
}

/************ general mail list **************/
.mail-menu{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height:60px;
  padding: 10px 30px;
  font-size: 16px;
  color: #B5BBB7;
}

.mail-menu  .menu-left-group>div{
  cursor: pointer;
}

.menu-left-group{
  display: inline-flex;
  line-height: 40px;
  width: 120px;
  justify-content: space-around;
}
.menu-right-group{
  display: inline-flex;
  line-height: 40px;
  width: 100px;
  justify-content: flex-end;
}

.mail-group-title{
  height:60px;
  padding: 10px 30px;
  font-size: 13px;
  color: #555;
  line-height: 40px;
  background: rgb(241, 244, 243);
  font-weight: bold;
  letter-spacing: initial;
}

.mail-list-item{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height:60px;
  padding: 10px 30px;
  font-size: 13px;
  color: #B5BBB7;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  background-color: #FAFBFB;
  transition: all 0.5s ease;
  cursor: pointer;
}
.mail-list-item:hover{
  background-color: #FFFFFF;
}

.mail-list .mail-list-item .mail-left-group{
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  flex-basis:150px;
}


.mail-list .mail-list-item .mail-right-group{
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-basis: 100px;
  align-items: center;
}

.mail-list .mail-list-item .fromName{
  flex-basis: 12%;
  overflow: hidden;
}
.mail-list .mail-list-item .brief{
  flex-basis: 70%;
  padding: 0 20px;
  overflow: hidden;
}

.mail-list .mail-list-item .portrait{line-height: 60px}
.mail-list .mail-list-item .portrait>span{
  width:30px;
  height:30px;
  border-radius: 15px;
  display: inline-block;
  /*box-shadow: 0px 2px 5px #555;*/
}


/**************** Project View ********************/
.project-container .project-group{
  margin-bottom: 40px;
}

.project-container .project-group h3{
  font-size:20px;
  color: #4A4A4A;
  line-height: 24px;
  /*font-family: sans-serif;*/
  font-weight: 300;
}

.project-container .project-item{
  height:200px;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.07), 0 2px 4px 0 #D8D8D8;
  margin: 10px 0;
  display: flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
}

.project-container .project-item .bg{
  flex-basis:170px;
  background-size: cover;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  flex-shrink: 0;
}
.project-container .project-item .project-content{
  padding:12px 30px;
  display: flex;
  flex-flow:column nowrap;
  justify-content: flex-start;
  flex-grow: 1;
}

.project-content .project-upper,
.project-content .project-under{
  flex-grow: 1;
  flex-basis:0;
}

.project-content .proj-header{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 5px;
}

.project-content .proj-header .anticon {
  line-height: 15px;
  transform: rotateZ(90deg);
  font-size: 15px;
  font-weight: bold;
}

.proj-header .right-group{
  display: flex;
  justify-content: space-between;
}

.project-container .project-item .project-content .title{
  color: #1CD67C;
  font-weight: bold;
}

.project-item .proj-descrip{
  font-size: 11px;
  line-height: 18px;
  color: #777E79;
  letter-spacing: 0;
}

.project-under .heads{
  display: flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  height: 50%;
  border-bottom: 1px solid #F2F2F2;
}
.project-under .heads .head{
  width:30px;
  height:30px;
  background-size: cover;
  border-radius:50%;
  margin-right: 8px;
}
.project-under .updates{
  font-size: 14px;
  line-height: 16px;
  color: #777E79;
  line-height: 50px;
}

/***************** Modal *******************/
.ant-modal.override-modal{
  min-width:700px;
}

.override-modal .ant-modal-content{
  border-radius: 8px;
}

.override-modal .ant-modal-header{
  padding: 30px;
  border-bottom:none;
  border-radius: 8px 8px 0 0;
}
.override-modal .ant-modal-title{
  font-size: 20px;
  font-weight: initial;
}

.override-modal .ant-modal-footer{
  border-top:none;
}

.override-modal .ant-modal-body img{
  margin: 0 auto;
  display: block;
}

.override-modal .ant-modal-footer .ant-btn{
  border:none;
}

.override-modal .ant-modal-footer .ant-btn.ant-btn-primary{
  background: transparent;
  color: #1CD67C;
}
